@model Episerver.Marketing.Kpi.Commerce.Internal.SettingsViewModel
@using EPiServer.Framework.Web.Resources
@using EPiServer.Shell.Navigation
 
<!DOCTYPE html>
 
<html lang="en">
<head>
    <title>EPiServer Marketing AB Testing</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/EPiServer/EPiServer.Cms.UI.Admin/clientResources/favicon.ico" rel="icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow:300,400,500" />
 
    @ClientResources.RenderResources("kpi-commerce", new[] { ClientResourceType.Style })
 
    <style>
        body {
            margin: 0;
        }
 
        input[type='text'] {
            border: 0 !important;
            background: none !important;
        }
    </style>
</head>
<body class="epi-workspace">
    @Html.AntiForgeryToken()
    @Html.Raw(Html.CreatePlatformNavigationMenu())
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root" 
        data-epi-antiforgery-header-name="@Model.AntiforgeryOptions.HeaderName"
        data-epi-antiforgery-form-field-name="@Model.AntiforgeryOptions.FormFieldName"
        data-base-api-url="@Model.BaseApiUrl"
        data-module-shell-path="@EPiServer.Shell.Paths.ProtectedRootPath" @Html.Raw(Html.ApplyPlatformNavigation())
        style="z-index:auto;" ></div>
    @ClientResources.RenderResources("kpi-commerce", new[] { ClientResourceType.Script })
</body>
</html>
